<div> 
  <img width="200px" src="https://api.racebase.io/images/logo.png"/>
</div>
<div> Hi {{ firstname }}! </div>
<div> Coach {{ coachname }} has invited you to join {{ teamname }} on RaceBase. This will give your coach access to your logs, and allow them to add you to their roster and meet schedule. Click the link below to join!</div>
<br> 
<div>
  <a href="https://racebase.io/user/join/{{joincode}}">
  Join {{ teamname }}
  </a>
</div>
<br> 
<div> 
  Or, you can use this code to join manually on RaceBase on your <a href="https://racebase.io/user/settings">settings</a> page: <br> {{ joincode }}
</div>
